<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>REST practice application</title>
</head>
<body>
<div class="navbar navbar-light bg-light">
    <div class="navbar-inner">
        <a class="logo" href="/">REST Spring Todo App</a>
    </div>
</div>


<div id="main" class="container">
    <div class="welcome">
        <span>Welcome to Todo App!</span>
        <br>
        <button onclick="getTodos()" class="btn btn-start"  type="button">Get started</button>
    </div>
</div>
</body>
</html>